<h2>New Celebrityyyyyyyyyy</h2>


<form action="/celebrities/create" method="POST">
    <label for="name">Celebrity name:</label>
    <input id="name" name="name" type="text"></input>

    <label for="occupation">Occupation:</label>
    <input id="occupation" name="occupation" type="String"></input> 

    <label for="catchPhrase">catchPhrase:</label>
    <input id="catchPhrase" name="catchPhrase" type="String"></input> 

    <button type="submit">Create Celebrity</button>
</form>