<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<a href="celebrities/create">Formmulario para crear nueva
  Celebrity
</a>

<a href="/celebrities">LISTA DECELEBRITIESSSS</a>

<a href="/movies/create">CREAR MOVIEEEEEE</a>